/*-------Overal Page Styling---------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*-------Body Styling and Background---------*/
body {
    height: 100vh;
    background-image: url("/media/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
}

/*--------Card Game Container---------*/
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/*---------Game Cards-----------*/
.memory-card {
    width: calc(20% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
}

/*-------Game Card Flip---------*/
.memory-card.flip {
    transform: rotateY(180deg);
}

/*---------Card Fronts and Backs---------*/
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 1px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

/*---------Card Game Interactivity-----------*/
.memory-card:active {
    transform: scale(.88);
    transition: transform .02s;
}

/*----------Flip to see Front Face-----------*/
.front-face {
    transform: rotateY(180deg);
}
