/*-------Overal Page Styling---------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*-------Body Styling and Background---------*/
body {
    height: 100vh;
    background-image: url("/media/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    width: 150px;
    height: 200px;
}