/*------ Google Fonts------*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
</style>




/*-------Overal Page Styling---------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*-------Body Styling and Background---------*/
body {
    height: 100vh;
    background-image: url("/media/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
}

/*--------Card Game Container---------*/
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

/*---------Game Cards-----------*/
.memory-card {
    width: calc(20% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

}

/*-------Game Card Flip---------*/
.memory-card.flip {
    transform: rotateX(180deg);
}

/*---------Card Fronts and Backs---------*/
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/*---------Card Game Interactivity-----------*/
.memory-card:active {
    transform: scale(.93);
    transition: transform .02s;
}

/*----------Flip to see Front Face-----------*/
.front-face {
    transform: rotateX(180deg);
}


/*-----------game info block-------------*/
 #info-msg {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    position: relative;
    margin: auto;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 1px;
    border: 1px solid black;
    background-color: tan;
}

/*------------timer info block----------*/

#timer {
    font-size: 1rem;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    position: relative;
    margin: auto;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding-top: 10px;
    border: 1px solid black;
    background-color: tan;



}
